/*------------------------------------*/
/*  變數  
/*------------------------------------*/
$row: 100px
$column: 120px 


=title()
  font-size: 46px
  font-weight: bold
  @media (max-width: 479px)
    font-size: 30px
    white-space: nowrap

=subtitle()
  font-size: 24px
  font-weight: 600
  font-style: italic
  @media (max-width: 479px)
    font-size: 20px
    white-space: nowrap

=stripe($deg)
  background: linear-gradient($deg, $primary 25%, transparent 0, transparent 50%, $primary 0, $primary 75%, transparent 0)     
  background-size: 50px 50px

/* 位移 Row & Column */
=translateXY($shift-column: $column, $shift-row: $row)
  transform: translate($shift-column, $shift-row)
  @media (max-width: 479px)
    transform: translate($shift-column/1.6, $shift-row/1.1)


/*------------------------------------*/
/*  Layout Grid
/*------------------------------------*/
body
  margin: 120px

.grid-container
  width: 100%
  max-width: 960px
  height: auto
  margin: 0 auto
  display: grid
  grid-template-columns: repeat(2, 1fr)
  // grid-auto-rows: 1fr
  // grid-auto-columns: 1fr

@media (max-width: 991px)
  body 
    margin: 120px 80px

  .grid-container
    grid-template-columns: repeat(1, 1fr)

  .grid-container-item
    margin: 0 auto

@media (max-width: 639px)
  body 
    margin: 120px 40px



/*------------------------------------*/
/*  Item Grid   
/*------------------------------------*/  
.grid-container-item
  +size(100%)           // height: 100%， 4*5 的每格高度會一致均 | height: auto 每格高度會彈性變化
  max-width: 480px
  max-height: 500px
  
  display: grid
  grid-template-rows: repeat(5, 1fr)
  grid-template-columns: repeat(4, 1fr) 

@media (max-width: 479px)
  .grid-container-item
    max-width: 320px
    max-height: 330px


/*------------------------------------*/
/*  元素樣式   
/*------------------------------------*/
[class*="-title"]  
  position: relative
  z-index: 4
  .title
    +title()
  &:before
    +title()
    height: 24px
    color: rgba($black, 0.5)
    overflow: hidden
    position: absolute
    top: -18px
    left: 1px 
  &:after
    +title()
    height: 18px
    color: rgba($black, 0.2)
    overflow: hidden
    position: absolute
    top: -28px
    left: 2px 

[class*="-img"]
  overflow: hidden
  z-index: 3
  img 
    max-width: none
  .product-img
    width: 100%
    transform: translateY(-20%)

[class*="-number"]
  +title
  z-index: 4

[class*="-stripe"]
  +stripe(-45deg)
  z-index: 3

[class*="-borderBox"]
  border: 20px solid $green
  z-index: -1

[class*="-subtitle"]
  +subtitle()
  z-index: 4

[class*="-box"]
  background-color: $primary
  z-index: -1



/*------------------------------------*/
/*  z-index    
/*------------------------------------*/



/*------------------------------------*/
/*  A    
/*------------------------------------*/
.A-item
  .item-title
    grid-row: 1 / span 1
    grid-column: 1 / -1
    margin-top: -18px
    &:before
      content: 'LINEN BLAZER'
    &:after
      content: 'LINEN BLAZER'

  .item-img
    grid-row: 1 / span 4
    grid-column: 1 / span 4

  .item-number
    grid-row: 5 / span 1
    grid-column: 1 / span 1

  .item-subtitle
    grid-row: 4 / span 2
    grid-column: 4 / span 1
    writing-mode: vertical-lr
    +translateXY($column,0)

  .item-stripe
    grid-row: -1 / -3
    grid-column: 1 / span 3
    margin: 40px 50px
    
  .item-borderBox
    grid-row: 1 / span 3
    grid-column: 2 / span 3
    margin: 40px 50px
    +translateXY($column,-$row)



/*------------------------------------*/
/*  B    
/*------------------------------------*/
.B-item
  .item-title
    grid-row: 4 / span 1
    grid-column: 3 / span 2
    align-self: center
    &:before
      content: 'FREELIFT'
    &:after
      content: 'FREELIFT'
  
  .item-img
    grid-row: 2 / span 2
    grid-column: 2 / span 2

  .item-number
    grid-row: 1 / span 1
    grid-column: -1 / -2
    justify-self: end

  .item-subtitle
    grid-row: 1 / span 1
    grid-column: 1 / span 2
    justify-self: end
    align-self: end

  .item-borderBox
    grid-row: 1 / span 2
    grid-column: 3 / span 2

  .item-box
    grid-row: 1 / span 3
    grid-column: 2 / span 3
    margin: 55px 60px 



/*------------------------------------*/
/*  C   
/*------------------------------------*/
.C-item
  .item-title
    grid-row: 1 / span 1
    grid-column: 1 / -1
    justify-self: end
    align-self: end
    &:before
      content: 'SUPER SKINNY'
      right: 0
    &:after
      content: 'SUPER SKINNY'
      right: 0

  .item-img
    grid-row: 2 / span 2
    grid-column: 1 / span 4

  .item-number
    grid-row: 4 / span 1
    grid-column: -1 / -2
    justify-self: end
    +translateXY($column/2, 0)

  .item-subtitle
    grid-row: 4 / span 1
    grid-column: 1 / span 2
    text-align: right

  .item-borderBox
    grid-row: 2 / span 3
    grid-column: 2 / span 3
    margin: 40px 50px
    +translateXY($column, 0)

  .item-box
    grid-row: 1 / span 1
    grid-column: 1 / span 2
    +translateXY(0, $row/2)


/*------------------------------------*/
/*  D    
/*------------------------------------*/
.D-item
  .item-title
    grid-row: 2 / span 2
    grid-column: 3 / span 1
    transform: rotate(-90deg)
    &:before
      content: 'DENIM'
    &:after
      content: 'DENIM'

  .item-img
    grid-row: 2 / span 4
    grid-column: 3 / span 2
    .product-img
      transform: translateY(14%) scale(1.3)

  .item-number
    grid-row: 5 / span 1
    grid-column: 2 / span 1
    text-align: right
    justify-self: end
    align-self: end

  .item-subtitle
    grid-row: 1 / span 1
    grid-column: 3 / span 2
    transform: rotate(90deg)
    transform-origin: bottom

  .item-stripe
    grid-row: 5 / span 1
    grid-column: 3 / span 2
    +translateXY(0, $row/2)
    
  .item-borderBox
    grid-row: 1 / span 2
    grid-column: 2 / span 2
    +translateXY($column/2, 0)

  // .item-blank
  //   grid-row: 1 / -1
  //   grid-column: 1 / span 1



/*------------------------------------*/
/*  E   
/*------------------------------------*/
.E-item
  +translateXY(0, -$row)

  .item-title
    grid-row: 2 / span 1
    grid-column: 1 / span 3
    align-self: end
    &:before
      content: 'SWEATSHIRTS'
    &:after
      content: 'SWEATSHIRTS'

  .item-img
    grid-row: 2 / span 2
    grid-column: 3 / span 2
    .product-img
      transform: scale(-1.3, 1.3) translateY(10%) // 鏡射用scale(負值)

  .item-number
    grid-row: 3 / span 1
    grid-column: 2 / span 1
    align-self: end

  .item-subtitle
    grid-row: 2 / span 1
    grid-column: 3 / span 2
    +translateXY($column*2, 0)
    
  .item-borderBox
    grid-row: 3 / span 1
    grid-column: 2 / span 2
    +translateXY(0, $row/2)

  .item-stripe
    grid-row: 1 / span 1
    grid-column: 1 / span 2
    +translateXY($column/2, $row/2)

  // .item-blank
  //   grid-row: 5 / span 1
  //   grid-column: 1 / -1



/*------------------------------------*/
/*  F    
/*------------------------------------*/
.F-item
  +translateXY(0, $row)

  .item-title
    grid-row: 1 / span 1
    grid-column: 1 / -1
    text-align: right
    align-self: end
    &:before
      content: 'VINTAGE DENIM'
      right: 0
    &:after
      content: 'VINTAGE DENIM'
      right: 0

  .item-img
    grid-row: 2 / span 4
    grid-column: 1 / span 4

  .item-number
    grid-row: 3 / span 1
    grid-column: 1 / span 1
    +translateXY(-$column/2, $row/2)
    
  .item-borderBox
    grid-row: 5 / span 1
    grid-column: 1 / -1
    +translateXY(0, $row/2)

  .item-subtitle
    grid-row: 5 / span 1
    grid-column: 2 / span 2
    text-align: center
    +translateXY(0, $row)
    

  .item-box
    grid-row: 4 / span 2
    grid-column: 1 / span 1
    +translateXY(-$column/2, 0)



/*------------------------------------*/
/*  G    
/*------------------------------------*/
.G-item
  +translateXY(0, -$row)

  .item-title
    grid-row: 2 / span 2
    grid-column: 3 / span 1
    transform: rotate(90deg) translateY(-$row/2)
    transform-origin: top left
    &:before
      content: 'EDITION'
    &:after
      content: 'EDITION'

  .item-img
    grid-row: 2 / span 4
    grid-column: 1 / span 2
    .product-img
      transform: translateY(0)

  .item-number
    grid-row: 5 / span 1
    grid-column: 3 / span 1
    justify-self: end
    align-self: end

  .item-subtitle
    align-content: end
    grid-row: 1 / span 1
    grid-column: 1 / span 2
    align-self: end
    
  .item-borderBox
    grid-row: 1 / span 4
    grid-column: 1 / span 2
    +translateXY($column/2, $row/2)

  .item-box
    grid-row: 4 / span 2
    grid-column: 3 / span 1



/*------------------------------------*/
/*  RWD    
/*------------------------------------*/
@media (max-width: 991px)
  .B-item
    +translateXY(0, $row/2)

  .E-item
    +translateXY(0, $row)
    .item-subtitle
      grid-row: 2 / span 2
      writing-mode: vertical-lr

  .G-item
    +translateXY(0, $row*2)